<header>
  <div class="container">
    <h1 class="page-title">Pierres Treats</h1>
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href='@Url.Action("Index", "Home")'>Home</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href='#'>Books</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href='@Url.Action("Index", "Books")'>View All Books</a>
              <a class="dropdown-item" href='@Url.Action("Create", "Books")'>Add Books</a>
            </div>
      </li>
<li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href='#'>Authors</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href='@Url.Action("Index", "Authors")'>View All Authors</a>
              <a class="dropdown-item" href='@Url.Action("Create", "Authors")'>Add Authors</a>
            </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href='#'>Patrons</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href='@Url.Action("Index", "Patrons")'>View All Patrons</a>
              <a class="dropdown-item" href='@Url.Action("Create", "Patrons")'>Add Patrons</a>
            </div>
      </li>
    </ul>
  </div>

</header>
<main class="container"> 

