<header>
  <div class="container">
    <h1 class="page-title">Pierres Treats</h1>
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href='@Url.Action("Index", "Home")'>Home</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
          aria-expanded="false" href='#'>Treats</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href='@Url.Action("Index", "Treats")'>View All Treats</a>
          <a class="dropdown-item" href='@Url.Action("Create", "Treats")'>Add Treat</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
          aria-expanded="false" href='#'>Flavors</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href='@Url.Action("Index", "Flavors")'>View All Flavors</a>
          <a class="dropdown-item" href='@Url.Action("Create", "Flavors")'>Add Flavors</a>
        </div>
      </li>
      @* <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
        aria-expanded="false" href='#'>Patrons</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href='@Url.Action("Index", "Patrons")'>View All Patrons</a>
        <a class="dropdown-item" href='@Url.Action("Create", "Patrons")'>Add Patrons</a>
        </div>
        </li> *@
    </ul>
  </div>

</header>
<main class="container">
