@{
  Layout = "_Layout";
}

@model PierresTreats.Models.Treat

<h2>Add Treat</h2>

<h4>Add a flavor to a treat:

  @using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.TreatId)

    @Html.Label("Select Treat: ")
    @Html.DropDownList("FlavorId")

    <input type="submit" value="Save" class="btn btn-primary" />
  }
  <hr>
  <div class="row">
    <div class="col-md-4"><a href='@Url.Action("Index", "Treats")' role="button" class="btn btn-dark">View All
        Treats</a>
    </div>
    <div class="col-md-4"><a href='@Url.Action("Index", "Flavors")' role="button" class="btn btn-dark">View All
        Flavors</a>
    </div>
    <div class="col-md-4"><a href='@Url.Action("Index","Home")' role="button" class="btn btn-dark">Back To
        Homepage</a>
    </div>
  </div>
