<div class="offset-md-3 col-md-6">
  @{
    Layout = "_Layout";
  }

  @model PierresTreats.Models.Treat
  <h4>Add a new Treat</h4>
  @using (Html.BeginForm())
  {

    @Html.TextBoxFor(model => model.TreatName, new { @class = "form-control", placeholder =
  @Html.DisplayNameFor(m=>m.TreatName), required="required"})

    <input type="submit" value="Add new treat" class="btn btn-default btn-block btn-primary" />
  }

</div>
<hr>
<div class="row">
  <div class="col-md-4"><a href='@Url.Action("Index", "Treats")' role="button" class="btn btn-dark">View All
      Treats</a>
  </div>
  <div class="col-md-4"><a href='@Url.Action("Index", "Flavors")' role="button" class="btn btn-dark">View All
      Flavors</a>
  </div>
  <div class="col-md-4"><a href='@Url.Action("Index","Home")' role="button" class="btn btn-dark">Back To
      Homepage</a>
  </div>
</div>