<div class="offset-sm-2 col-sm-8 offset-md-3 col-md-6 offset-lg-4 col-lg-4">
  @{
    Layout = "_Layout";
  }

  @model PierresTreats.Models.Treat

  <h2>Edit</h2>

  <h4>Edit this treat: @Html.DisplayFor(model => model.TreatName)</h4>

  @using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.TreatId)

    @Html.LabelFor(model => model.TreatName)
    @Html.EditorFor(model => model.TreatName)

    <input type="submit" value="Save" />
  }
  <p>@Html.ActionLink("Back to list", "Index")</p>
</div>
