@* @{
  Layout = "_Layout";
}

@model PierresTreats.Models.Author

<h2>Author Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.AuthorName): @Html.DisplayFor(model => model.AuthorName)</h3>

@if(@Model.JoinAuthorBook.Count == 0)
{
  <p>This author hasn't wrote anything yet</p>
}
else
{
  <h4>Books by this author:</h4>
  <ul>
  @foreach(var join in Model.JoinAuthorBook)
  {
    <li>@join.Book.BookTitle</li>
    @using (Html.BeginForm("DeleteBook", "Authors"))
    {
      @Html.Hidden("joinId", @join.AuthorBookId)
      <input type="submit" value="Delete"/>
    }
  }
  </ul>
}

<p>@Html.ActionLink("Add a Book", "AddBook", new { id = Model.AuthorId })</p>

<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Edit Author", "Edit", new { id = Model.AuthorId })</p>
<p>@Html.ActionLink("Delete Author", "Delete", new { id = Model.AuthorId })</p></main> *@