@{
  Layout = "_Layout";
}

<div class="row">
  <div class="col-md-6">
    <h2>All Treats</h2>

    @foreach (var treat in ViewBag.Treat)
    {
      <li>@treat.TreatName</li>
    }
  </div>
  <div class="col-md-6">
    <h2>All Flavors</h2>

    @foreach (var flavor in ViewBag.Flavor)
    {
      <li>@flavor.FlavorName</li>
    }
  </div>

</div>
<hr>
<div class="row">
  <div class="col-md-4"><a href='@Url.Action("Index", "Treats")' role="button" class="btn btn-dark">See all
      Treats</a>
  </div>
  <div class="col-md-4"><a href='@Url.Action("Index", "Flavors")' role="button" class="btn btn-dark">See all
      Flavors</a>
  </div>
  <div class="col-md-4"><a href='@Url.Action("Register","Account")' role="button" class="btn btn-dark">Create an
      account</a>
  </div>
</div>


@*
  <a href='@Url.Action("AIndex", "Treats", new { id = Model.MachineId })' role="button" class="btn btn-warning">See all
  Treats</a>
  <a href='@Url.Action("Index", "Flavors")' role="button" class="btn btn-warning">Back to Machines</a>
  <a href='@Url.Action("Edit","Machines", new { id = Model.MachineId })' role="button" class="btn btn-warning">See all
  Flavors</a>
  <a href='@Url.Action("Register","Account", new { id = Model.MachineId })' role="button" class="btn btn-warning">Delete
  Machine</a> *@