@* @{
  Layout = "_Layout";
}

@model PierresTreats.Models.Patron

<h2>Patron Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.PatronName): @Html.DisplayFor(model => model.PatronName)</h3>

@if(@Model.JoinBookPatron.Count == 0)
{
  <p>This patron hasn't checked out anything books yet!</p>
}
else
{
  <h4>Books by this patron:</h4>
  <ul>
  @foreach(var join in Model.JoinBookPatron)
  {
    <li>@join.Book.BookTitle</li>
    @using (Html.BeginForm("DeleteBook", "Patrons"))
    {
      @Html.Hidden("joinId", @join.CheckoutId)
      <input type="submit" value="Delete"/>
    }
  }
  </ul>
}

<p>@Html.ActionLink("Add a Book", "AddBook", new { id = Model.PatronId })</p>

<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Edit Patron", "Edit", new { id = Model.PatronId })</p>
<p>@Html.ActionLink("Delete Patron", "Delete", new { id = Model.PatronId })</p></main> *@