@* @{
  Layout = "_Layout";
  }

  @model PierresTreats.Models.Patron

  <h2>Edit</h2>

  <h4>Edit this patron: @Html.DisplayFor(model => model.PatronName)</h4>

  @using (Html.BeginForm())
  {
  @Html.HiddenFor(model => model.PatronId)

  @Html.LabelFor(model => model.PatronName)
  @Html.EditorFor(model => model.PatronName)

  @Html.Label("Select book")
  @Html.DropDownList("BookId")

  <input type="submit" value="Save" />
  }

  <p>@Html.ActionLink("Back to list", "Index")</p> *@
