@{
  Layout = "_Layout";
}

@model PierresTreats.Models.Flavor

<h2>Flavor Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.FlavorName): @Html.DisplayFor(model => model.FlavorName)</h3>

@if (@Model.JoinEntities.Count == 0)
{
  <p>This flavor hasn't wrote anything yet</p>
}
else
{
  <h4>Treats by this flavor:</h4>
  <ul>
  @foreach (var join in Model.JoinEntities)
    {
      <li>@join.Treat.TreatName</li>
      @using (Html.BeginForm("DeleteTreat", "Flavors"))
      {
        @Html.Hidden("joinId", @join.FlavorTreatId)
        <input type="submit" value="Delete" />
      }
    }
  </ul>
}
<hr>
<div class="row">
  <div class="col-md-4"><a href='@Url.Action("AddTreat", "Flavors")' role="button" class="btn btn-dark">Connect Flavor
      To
      Treat</a>
  </div>
  <div class="col-md-4"><a href='@Url.Action("Edit", "Flavors", new { id = Model.FlavorId })' role="button"
      class="btn btn-dark">Edit Flavor</a>
  </div>
  <div class="col-md-4"><a href='@Url.Action("Delete","Flavors", new { id = Model.FlavorId })' role="button"
      class="btn btn-dark">Delete Flavor</a>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-4"><a href='@Url.Action("Index", "Treats")' role="button" class="btn btn-dark">View All
      Treats</a>
  </div>
  <div class="col-md-4"><a href='@Url.Action("Index", "Flavors")' role="button" class="btn btn-dark">View All
      Flavors</a>
  </div>
  <div class="col-md-4"><a href='@Url.Action("Index","Home")' role="button" class="btn btn-dark">Back To
      Homepage</a>
  </div>
</div>
