<div class="offset-md-3 col-md-6">
  @{
    Layout = "_Layout";
  }

  @model PierresTreats.Models.Flavor

  <h2>Edit</h2>

  <h4>Edit this flavor: @Html.DisplayFor(model => model.FlavorName)</h4>

  @using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.FlavorId)

    @Html.LabelFor(model => model.FlavorName)
    @Html.EditorFor(model => model.FlavorName)

    <input type="submit" value="Save" />
  }
</div>
<hr>
<div class="row">
  <div class="col-md-4"><a href='@Url.Action("Index", "Treats")' role="button" class="btn btn-dark">View All
      Treats</a>
  </div>
  <div class="col-md-4"><a href='@Url.Action("Index", "Flavors")' role="button" class="btn btn-dark">View All
      Flavors</a>
  </div>
  <div class="col-md-4"><a href='@Url.Action("Index","Home")' role="button" class="btn btn-dark">Back To
      Homepage</a>
  </div>
</div>
